openapi: 3.0.3
info:
  title: 'Nextenvios Joel Prod'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.nextenvios.cl'
paths:
  /api/auth/register:
    post:
      summary: Register
      operationId: register
      description: "Registra un Usuario. Si todo esta bien, retorna una respuesta 200 OK\n\nSi no retorna un error 422 que indica que hay errores en el body."
      parameters: []
      responses:
        422:
          description: 'El body tiene errores.'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The password field confirmation does not match. (and 3 more errors)'
                  errors:
                    password:
                      - 'The password field confirmation does not match.'
                    password_confirmation:
                      - 'The password confirmation field is required.'
                    provider_id:
                      - 'The selected provider id is invalid.'
                    company_id:
                      - 'The selected company id is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The password field confirmation does not match. (and 3 more errors)'
                    description: 'Mensaje de error'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'The password field confirmation does not match.'
                        items:
                          type: string
                      password_confirmation:
                        type: array
                        example:
                          - 'The password confirmation field is required.'
                        items:
                          type: string
                      provider_id:
                        type: array
                        example:
                          - 'The selected provider id is invalid.'
                        items:
                          type: string
                      company_id:
                        type: array
                        example:
                          - 'The selected company id is invalid.'
                        items:
                          type: string
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: hspgkxx
                name2:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: xixiaxgzifxqwodozdimdv
                last_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: auuvfvcdazai
                last_name2:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: nbmcdob
                rut:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: btyybhilgia
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 40 characters.'
                  example: caesar99@example.net
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: '{C6!9"]~9SK23w<d3*'
                password_confirmation:
                  type: string
                  description: 'The confirmed password.'
                  example: password123
                phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: riyudrwssmnoycgiecb
                gender:
                  type: string
                  description: ''
                  example: female
                  enum:
                    - male
                    - female
                    - other
                provider_id:
                  type: string
                  description: ''
                  example: distinctio
                company_id:
                  type: string
                  description: ''
                  example: voluptatem
              required:
                - name
                - last_name
                - rut
                - email
                - password
                - phone
                - gender
      security: []
  /api/auth/login:
    post:
      summary: Login
      operationId: login
      description: "Check that the service is up. If everything is okay, you'll get a 200 OK response.\n\nOtherwise, the request will fail with a 400 error, and a response listing the failed services."
      parameters: []
      responses:
        400:
          description: 'Service is unhealthy'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: down
                  services:
                    database: up
                    redis: down
                properties:
                  status:
                    type: string
                    example: down
                    description: 'The status of this API (`up` or `down`).'
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        example: up
                      redis:
                        type: string
                        example: down
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: reiciendis
                password:
                  type: string
                  description: ''
                  example: neque
              required:
                - email
                - password
      security: []
  /api/auth/forgot-password:
    post:
      summary: ''
      operationId: postApiAuthForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: zkutch@example.com
              required:
                - email
      security: []
  /api/auth/reset-password:
    post:
      summary: ''
      operationId: postApiAuthResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: in
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: zboncak.monte@example.net
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 'l0fKLIQ|r;?lGfZD'
              required:
                - token
                - email
                - password
      security: []
  /api/cities:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Listado de ciudades'
                  data:
                    -
                      id: 9cabda84-412e-463d-9471-0a85cf83f72a
                      name: Arica
                      slug: arica
                      region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                    -
                      id: 9cabda84-4406-4929-831a-b48318bf1049
                      name: Camarones
                      slug: camarones
                      region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                    -
                      id: 9cabda84-4722-4193-aefc-e8e6057f4b83
                      name: 'General Lagos'
                      slug: generallagos
                      region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                    -
                      id: 9cabda84-4981-46e1-975c-2c0e587c2d1e
                      name: Putre
                      slug: putre
                      region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                    -
                      id: 9cabda84-4c39-431d-8db8-237b0d26a53b
                      name: 'Alto Hospicio'
                      slug: altohospicio
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-4ec3-40c5-b37d-c2ed164a468f
                      name: Camiña
                      slug: camina
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-5179-47ca-8a1a-b3bfbd87f6b0
                      name: Colchane
                      slug: colchane
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-5413-458c-a420-3972fd9e0684
                      name: Huara
                      slug: huara
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-56d8-4bab-b0e0-fc72f3e1909c
                      name: Iquique
                      slug: iquique
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-59b1-4e49-befc-7e232cec3f6d
                      name: Pica
                      slug: pica
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-5c55-48b2-8bca-e01950343e68
                      name: 'Pozo Almonte'
                      slug: pozoalmonte
                      region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                    -
                      id: 9cabda84-5ea6-4035-88a0-375514c6da5c
                      name: Antofagasta
                      slug: antofagasta
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-616e-4f81-9510-c906bc803ded
                      name: Calama
                      slug: calama
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-6398-4f62-ba5d-aa278adc1509
                      name: 'María Elena'
                      slug: mariaelena
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-666d-4617-9ef5-bf0a327d4ae4
                      name: Mejillones
                      slug: mejillones
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-696f-4abc-a22f-4d3364899675
                      name: Ollague
                      slug: ollague
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-6c45-4609-84e4-473ffceab723
                      name: 'San Pedro de Atacama'
                      slug: sanpedrodeatacama
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-6f17-4069-962f-233603773a98
                      name: 'Sierra Gorda'
                      slug: sierragorda
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-7258-4830-9e4a-39d1993ecd4c
                      name: Taltal
                      slug: taltal
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-7546-47b7-8d21-2f5c3b676043
                      name: Tocopilla
                      slug: tocopilla
                      region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                    -
                      id: 9cabda84-780e-4dd9-b628-311479cbd266
                      name: 'Alto del Carmen'
                      slug: altodelcarmen
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-7aca-4ef6-9667-959b5b2bbe71
                      name: Caldera
                      slug: caldera
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-7d71-462b-9157-3ad5b3ce72ed
                      name: Chañaral
                      slug: chanaral
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-7fe7-46f5-b634-5b028270c387
                      name: Copiapó
                      slug: copiapo
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-828b-491c-af85-817c81a52a18
                      name: 'Diego de Almagro'
                      slug: diegodealmagro
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-8521-4240-b570-a04f9af00a03
                      name: Freirina
                      slug: freirina
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-8812-4719-a4fe-ae9f14324e3c
                      name: Huasco
                      slug: huasco
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-8a5e-4fab-84f6-910c6ba91681
                      name: 'Tierra Amarilla'
                      slug: tierraamarilla
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-8ca0-48bd-a263-7bd1a97beaa0
                      name: Vallenar
                      slug: vallenar
                      region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                    -
                      id: 9cabda84-8f5b-4cc9-9a72-1998fb6b9ed3
                      name: Andacollo
                      slug: andacollo
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-9189-4f1c-a2f6-a721deff75f8
                      name: Canela
                      slug: canela
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-93e7-4cdf-99e1-aa862d85908c
                      name: Combarbalá
                      slug: combarbala
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-9647-4eaa-96ff-327a82290427
                      name: Coquimbo
                      slug: coquimbo
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-989f-48fb-9941-53a58f0d993a
                      name: Illapel
                      slug: illapel
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-9bc9-4303-86ef-15f1a48a24f1
                      name: 'La Higuera'
                      slug: lahiguera
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-9e8c-4277-9cd9-5b304961040b
                      name: 'La Serena'
                      slug: laserena
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-a135-423a-aece-8af94541d6fa
                      name: 'Los Vilos'
                      slug: losvilos
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-a392-462b-ac4d-5863373685e4
                      name: 'Monte Patria'
                      slug: montepatria
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-a63a-4a6e-bc0b-065a2effd495
                      name: Ovalle
                      slug: ovalle
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-a899-4194-b8aa-157334a6451b
                      name: Paihuaco
                      slug: paihuaco
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-ab2a-483b-b266-f84a5a9d29ac
                      name: Punitaqui
                      slug: punitaqui
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-adf6-42d7-8a0e-0475f8351348
                      name: 'Río Hurtado'
                      slug: riohurtado
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-b09f-4307-9158-bedf3ac94832
                      name: Salamanca
                      slug: salamanca
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-b31e-49bb-8ac7-9ce4619bb815
                      name: Vicuña
                      slug: vicuna
                      region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                    -
                      id: 9cabda84-b63c-4bf4-b3f9-2672ed02249c
                      name: Algarrobo
                      slug: algarrobo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-b8e4-4473-89bc-d5e4caa2e7ff
                      name: Cabildo
                      slug: cabilo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-bb20-4b23-88e8-d862128ac522
                      name: 'Calle Larga'
                      slug: callelarga
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-bd9a-4ed4-94b7-c660f8beaee2
                      name: Cartagena
                      slug: cartagena
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-c029-49d9-9806-337efad5fe9a
                      name: Casablanca
                      slug: casablanca
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-c337-4530-9f51-3a9704cea584
                      name: Catemu
                      slug: catemu
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-c5c8-4aff-8d65-a88a02ce3320
                      name: Concón
                      slug: concon
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-c85c-4c91-bdc1-daee89d40061
                      name: 'El Quisco'
                      slug: elquisco
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-cb17-4eae-baff-0df46339f0a1
                      name: 'El Tabo'
                      slug: eltabo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-cd9f-4ec0-8f80-db56688c0a09
                      name: Hijuelas
                      slug: hijuelas
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-d081-4728-8bad-6be751f5d66a
                      name: 'Isla de Pascua'
                      slug: isladepascua
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-d444-4d43-97ae-1016c5f51392
                      name: 'Juan Fernández'
                      slug: juanfernandez
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-d70d-4c3d-8863-cd648afdc284
                      name: 'La Calera'
                      slug: lacalera
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-d9c2-4442-82f5-332c1795a3fc
                      name: 'La Cruz'
                      slug: lacruz
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-dcc5-40bd-925f-1860ecdcee66
                      name: 'La Ligua'
                      slug: laligua
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-df34-4ae0-9e7e-6d1ccda32fcd
                      name: Limache
                      slug: limache
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-e14d-4b05-9245-43748e789881
                      name: Llaillay
                      slug: llaillay
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-e3cd-4b0a-bd6a-eee8a3fa5ce9
                      name: 'Los Andes'
                      slug: losandes
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-e66f-437f-bf10-8f1473c48381
                      name: Nogales
                      slug: nogales
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-e8fb-4949-8be4-c7200bf14dbb
                      name: Olmué
                      slug: olmue
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-eba7-44f1-b308-f827b07c121d
                      name: Panquehue
                      slug: panquehue
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-ee3b-430d-930d-d375b380a9d0
                      name: Papudo
                      slug: papudo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-f140-4f19-80d9-4d5e0658caa4
                      name: Petorca
                      slug: petorca
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-f3dc-4a3e-be27-60da6d4953a2
                      name: Puchuncaví
                      slug: puchuncavi
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-f647-49ff-841d-d35de0899017
                      name: Putaendo
                      slug: putaendo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-f8b8-4e8e-8a33-df85757eee3c
                      name: Quillota
                      slug: quillota
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-fbad-438e-824d-cb228920c363
                      name: Quilpué
                      slug: quilpue
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda84-fe34-42de-9b76-d2f95d758451
                      name: Quintero
                      slug: quintero
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-00af-46d6-85fd-3b63159367da
                      name: Rinconada
                      slug: rinconada
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-0361-4315-864e-aca1cbb39971
                      name: 'San Antonio'
                      slug: sanantonio
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-0618-4dc2-946d-f30da292d28f
                      name: 'San Esteban'
                      slug: sanesteban
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-08dc-43cc-a262-9ed271a09c58
                      name: 'San Felipe'
                      slug: sanfelipe
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-0b3d-4c1d-99a3-52447ccd4c7b
                      name: 'Santa María'
                      slug: santamaria
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-0df7-453b-84d8-fafba413793d
                      name: 'Santo Domingo'
                      slug: santodomingo
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-105f-4a19-8289-072d2d474e71
                      name: Valparaíso
                      slug: valparaiso
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-139c-4283-b1e4-ff0fe50c981a
                      name: 'Villa Alemana'
                      slug: villaalemana
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-1608-4c25-942e-6fbea6e9c8f3
                      name: 'Viña del Mar'
                      slug: vinadelmar
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-18cc-4808-8586-4a8f3831a684
                      name: Zapallar
                      slug: zapallar
                      region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                    -
                      id: 9cabda85-1bb1-4f3c-a6bb-c7d3a3e49578
                      name: Alhué
                      slug: alhue
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-1ee4-4cda-8f15-6a30c8ddd309
                      name: Buin
                      slug: buin
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-216b-43db-82c8-fdc8244e11ca
                      name: 'Calera de Tango'
                      slug: caleradetango
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-241b-4b88-a43e-df9e0d694581
                      name: Cerrillos
                      slug: cerrillos
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-26fa-416e-8628-46af1b7609eb
                      name: 'Cerro Navia'
                      slug: cerronavia
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-2953-4a2e-a424-b5c9f60779ad
                      name: Colina
                      slug: colina
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-2bbb-47fc-af7f-4b898737525d
                      name: Conchalí
                      slug: conchali
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-2e21-431a-8ce9-a079e0753a83
                      name: Curacaví
                      slug: curacavi
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-3045-4af3-ab7d-7879f03c3386
                      name: 'El Bosque'
                      slug: elbosque
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-33de-411d-981a-f2484a396cb6
                      name: 'El Monte'
                      slug: elmonte
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-36ad-4e41-89b5-f02651a8b34e
                      name: 'Estación Central'
                      slug: estacioncentral
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-39ad-4d77-a30e-572feec5f4a2
                      name: Huechuraba
                      slug: huechuraba
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-3c3d-4c3d-b0aa-8e873772d443
                      name: Independencia
                      slug: independencia
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-3e9d-4ab6-a8a2-1a791e9b5184
                      name: 'Isla de Maipo'
                      slug: islademaipo
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4122-4ce7-93a5-65c9228e2be6
                      name: 'La Cisterna'
                      slug: lacisterna
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4350-468a-8646-c7fe991e55b0
                      name: 'La Florida'
                      slug: laflorida
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-458e-4aaa-a3fe-81726533debd
                      name: 'La Granja'
                      slug: lagranja
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4867-42c5-8b26-b8833b2b6f9d
                      name: 'La Pintana'
                      slug: lapintana
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4ac3-4a3f-9ecc-fc633d7f3348
                      name: 'La Reina'
                      slug: lareina
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4d3f-415e-b8e7-8386e4976159
                      name: Lampa
                      slug: lampa
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-4fbc-418d-a57d-79041ffcd186
                      name: 'Las Condes'
                      slug: lascondes
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-5248-4fec-b4d3-c082a9bf35de
                      name: 'Lo Barnechea'
                      slug: lobarnechea
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-54aa-4f24-8064-df172ed1efec
                      name: 'Lo Espejo'
                      slug: loespejo
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-5727-42d9-9a79-abe563e97c9b
                      name: 'Lo Prado'
                      slug: loprado
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-5966-4918-bed0-0e48b0d0b555
                      name: Macul
                      slug: macul
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-5bef-4dde-bfda-55a3a1e9f4c6
                      name: Maipú
                      slug: maipu
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-5e50-4fff-a046-525ce89f94d7
                      name: 'María Pinto'
                      slug: mariapinto
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-608a-42a3-a91a-f842a9b1efd6
                      name: Melipilla
                      slug: melipilla
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-62b7-416b-9e4a-ff8697638780
                      name: Ñuñoa
                      slug: nunoa
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-64e7-4533-9bb7-b94405346724
                      name: 'Padre Hurtado'
                      slug: padrehurtado
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-6750-4b40-aca3-3f98c596b644
                      name: Paine
                      slug: paine
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-6931-48e1-8250-bba64cbce4ad
                      name: 'Pedro Aguirre Cerda'
                      slug: pedroaguirrecerda
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-6b66-43c6-b1a0-60dfa6f45f08
                      name: Peñaflor
                      slug: penaflor
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-6e08-4aa5-bcec-07dbd4d33c0a
                      name: Peñalolén
                      slug: penalolen
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-6fed-4f3c-b885-dafa0c257ea1
                      name: Pirque
                      slug: pirque
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-72df-45ad-8079-6c3384c4be29
                      name: Providencia
                      slug: providencia
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-74e6-4bac-a7e5-2b93f8ed76c0
                      name: Pudahuel
                      slug: pudahuel
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-7735-440f-bdfe-27c4a59f2ca2
                      name: 'Puente Alto'
                      slug: puentealto
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-7950-4f83-a865-90a75c0d8d96
                      name: Quilicura
                      slug: quilicura
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-7bed-406e-8a06-5d4a5b72c8d5
                      name: 'Quinta Normal'
                      slug: quintanormal
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-7e42-4981-9103-c0892311b024
                      name: Recoleta
                      slug: recoleta
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-80ab-402e-96c3-a01a7ccc98bc
                      name: Renca
                      slug: renca
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-8333-4fda-adfe-6f12b7a89d8c
                      name: 'San Bernardo'
                      slug: sanbernardo
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-857e-42d7-8c75-e164e9454fb0
                      name: 'San Joaquín'
                      slug: sanjoaquin
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-87ea-45b1-a914-68d54d63b8e3
                      name: 'San José de Maipo'
                      slug: sanjosedemaipo
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-8a56-44ce-b3fb-6b4899d4904b
                      name: 'San Miguel'
                      slug: sanmiguel
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-8c9b-4d34-8495-4194fa7b0ecf
                      name: 'San Pedro'
                      slug: sanpedro
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-8eeb-4a13-9cb9-ba4c59f212e5
                      name: 'San Ramón'
                      slug: sanramon
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-9131-4fc9-8d0f-1eb4b9f7ae69
                      name: Santiago
                      slug: santiago
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-934b-495a-95c6-a46e30105fe6
                      name: Talagante
                      slug: talagante
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-957d-465c-bd09-aa7ebd74d08a
                      name: Tiltil
                      slug: tiltil
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-987e-4832-861f-f1872a02e116
                      name: Vitacura
                      slug: vitacura
                      region_id: 9cabda84-24f7-476f-8478-0d28186b119d
                    -
                      id: 9cabda85-9aaf-4335-b299-0dcac77e9b30
                      name: Codegua
                      slug: codegua
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-9c73-4c88-84cb-24137a5aa033
                      name: Coinco
                      slug: coinco
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-9f4e-4c52-856b-4ca0dec60867
                      name: Coltauco
                      slug: coltauco
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-a1e4-454b-bfe2-4dd1c104fc26
                      name: Doñihue
                      slug: donihue
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-a419-4b4c-a7f8-2d56d52b5e4d
                      name: Graneros
                      slug: graneros
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-a680-4c41-8718-beda6194552f
                      name: 'La Estrella'
                      slug: laestrella
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-a8c7-4464-b932-1d349c53f3df
                      name: 'Las Cabras'
                      slug: lascabras
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-ab3e-436a-8eff-e33a0d3c209e
                      name: Litueche
                      slug: litueche
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-adae-4821-9b99-10262f53ad4c
                      name: Lolol
                      slug: lolol
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-b03e-4e8d-8c9c-9c924cf895ae
                      name: Machalí
                      slug: machali
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-b25e-4cdb-8db2-15ca766b1aea
                      name: Malloa
                      slug: malloa
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-b46d-4461-944d-e888b1a93534
                      name: Marchigüe
                      slug: marchigue
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-b75b-4a2b-913e-44677c85a9bf
                      name: Mostazal
                      slug: mostazal
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-b981-481c-bc22-f369e603430d
                      name: Nancagua
                      slug: nancagua
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-bbba-44c7-927f-7a0d5dfa8114
                      name: Navidad
                      slug: navidad
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-bdca-4cc9-9cc1-5bcfd0b6da10
                      name: Olivar
                      slug: olivar
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-c041-488f-aea3-84a40781c841
                      name: Palmilla
                      slug: palmilla
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-c2dc-45c4-9c0f-f4b88f354906
                      name: Paredones
                      slug: paredones
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-c641-409a-9111-494165ccb77d
                      name: Peralillo
                      slug: peralillo
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-c85d-4ba1-bf22-515b50c4bd4d
                      name: Peumo
                      slug: peumo
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-cac3-4188-b45f-544f5e7b0cff
                      name: Pichidegua
                      slug: pichidegua
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-cd19-4b13-81e2-22f80fe7f176
                      name: Pichilemu
                      slug: pichilemu
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-cfd6-4fd3-8af9-b289ab792243
                      name: Placilla
                      slug: placilla
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-d2a8-49f2-959a-0410fb266711
                      name: Pumanque
                      slug: pumanque
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-d4f8-4a5d-b9d4-838dde71699c
                      name: 'Quinta de Tilcoco'
                      slug: quintadetilcoco
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-d6fe-452e-86b3-fe5096346318
                      name: Rancagua
                      slug: rancagua
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-d959-43a2-be96-f91e65e4b8ab
                      name: Rengo
                      slug: rengo
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-dba7-4ee4-87ee-d4aa609947bb
                      name: Requínoa
                      slug: requinoa
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-de0b-47e1-9ab7-c0341090a4c3
                      name: 'San Fernando'
                      slug: sanfernando
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-e021-44e4-a29a-f13b0fc713ee
                      name: 'San Vicente de Tagua Tagua'
                      slug: sanvicentedetaguatagua
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-e27f-4cfc-a308-5238be3bc380
                      name: 'Santa Cruz'
                      slug: santacruz
                      region_id: 9cabda84-2762-46a8-86f0-372346e0e4eb
                    -
                      id: 9cabda85-e4f5-492f-8c6a-952518343bcc
                      name: Chanco
                      slug: chanco
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-e697-46b0-a65d-e54172108b63
                      name: Colbún
                      slug: colbun
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-e8d3-44cd-b565-d7e2dce9f461
                      name: Constitución
                      slug: constitucion
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-eb4b-4a13-a516-cd1d1ebf6404
                      name: Curepto
                      slug: curepto
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-ee24-4800-a14b-d148b8a3a574
                      name: Curicó
                      slug: curico
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-f14f-4b9d-a9df-0f18770b670a
                      name: Empedrado
                      slug: empedrado
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-f438-4148-a86f-e52d15fc102b
                      name: Hualañé
                      slug: hualane
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-f6b4-4c64-aeee-dff73f46b0ae
                      name: Licantén
                      slug: licanten
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-f956-45fd-8130-af1023b94b0c
                      name: Linares
                      slug: linares
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-fc3e-4e14-bf6d-c4ccc15311d9
                      name: Longaví
                      slug: longavi
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda85-fec9-4bf0-87c4-43ef533065ea
                      name: Maule
                      slug: maule
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-0180-4d7e-a1e2-3e222bc748a8
                      name: Molina
                      slug: molina
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-04af-40b0-8c2b-aabd69624b14
                      name: Parral
                      slug: parral
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-0713-4440-afe4-d9e0a1d51b13
                      name: Pelarco
                      slug: pelarco
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-0968-4469-b2d0-44dfce0f038b
                      name: Pelluhue
                      slug: pelluhue
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-0c1e-491c-9dcf-de88879b2d8a
                      name: Pencahue
                      slug: pencahue
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-0e78-42aa-a854-49cc93937411
                      name: Rauco
                      slug: rauco
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-115e-487d-9e19-f9f8e6a18641
                      name: Retiro
                      slug: retiro
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-1458-4bfc-bc83-3ad5226ae2e8
                      name: 'Río Claro'
                      slug: rioclaro
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-1707-4cc5-80d1-2d6ca5e340bb
                      name: Romeral
                      slug: romeral
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-1992-4667-8d0f-d31313930001
                      name: 'Sagrada Familia'
                      slug: sagradafamilia
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-1bc6-4644-b598-b728a605a3e7
                      name: 'San Clemente'
                      slug: sanclemente
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-1dfe-4e7a-83a9-02a3797460c6
                      name: 'San Javier de Loncomilla'
                      slug: sanjavierdeloncomilla
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-20a5-4b2f-822c-95e178cc995c
                      name: 'San Rafael'
                      slug: sanrafael
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-22de-4222-adc1-6c41446f9565
                      name: Talca
                      slug: talca
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-2581-4315-9d0c-0c280443e7be
                      name: Teno
                      slug: teno
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-284a-436f-a19a-54b88f87a280
                      name: Vichuquén
                      slug: vichuquen
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-2acc-47a9-95af-b6ab8c285dfa
                      name: 'Villa Alegre'
                      slug: villaalegre
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-2d8f-467c-b22a-98d88b8f2401
                      name: 'Yerbas Buenas'
                      slug: yerbasbuenas
                      region_id: 9cabda84-2a0d-4ed9-aa0e-ebf7d0d62481
                    -
                      id: 9cabda86-302d-4dd3-98ca-a8e0cf5f7ef5
                      name: Bulnes
                      slug: bulnes
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-32c4-41eb-980f-cdce2f9cdd42
                      name: Chillán
                      slug: chillan
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-3595-4e72-8d2b-ec65c3acdf46
                      name: 'Chillán Viejo'
                      slug: chillanviejo
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-3a0a-4630-a667-fb617619ec29
                      name: Cobquecura
                      slug: cobquecura
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-3e2c-4ec5-b3a7-02d8d84781cb
                      name: Coelemu
                      slug: coelemu
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-419e-4055-82d6-ae2704d4a0bd
                      name: Coihueco
                      slug: coihueco
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-44da-49e7-b1a3-954d37f13728
                      name: 'El Carmen'
                      slug: elcarmen
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-4800-47f4-aa54-f728335d8117
                      name: Ninhue
                      slug: ninhue
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-4b68-4431-bb2b-219f2d752164
                      name: Ñiquén
                      slug: niquen
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-4e51-418f-af9a-dcb8c1625b2e
                      name: Pemuco
                      slug: pemuco
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-523d-48ef-addc-2cb6b325384e
                      name: Pinto
                      slug: pinto
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-55f6-400a-bcdd-d4459ed7e5fd
                      name: Portezuelo
                      slug: portezuelo
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-5925-4214-8ebe-37cbda92801b
                      name: Quillón
                      slug: quillon
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-5bd8-42ac-bb69-bb94f639cb56
                      name: Quirihue
                      slug: quirihue
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-5f19-422f-9672-d283bba01b2b
                      name: Ránquil
                      slug: ranquil
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-6242-4e41-a3aa-1e7b9cd10226
                      name: 'San Carlos'
                      slug: sancarlos
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-64c9-42b5-834d-0cccca93e18d
                      name: 'San Fabián'
                      slug: sanfabian
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-675e-4012-b8b0-d849f74eeb54
                      name: 'San Ignacio'
                      slug: sanignacio
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-6a62-4b96-aafc-97ab806a7d95
                      name: 'San Nicolás'
                      slug: sannicolas
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-6cf1-4b5a-b4a2-f89f3b273a27
                      name: Treguaco
                      slug: treguaco
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-6fc0-476f-821e-9764b6b2d92b
                      name: Yungay
                      slug: yungay
                      region_id: 9cabda84-2cd4-4754-ba3f-183a6893165e
                    -
                      id: 9cabda86-72af-4212-9311-373152e91428
                      name: Carahue
                      slug: carahue
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-7528-43f7-b1f8-ecfb5d799a00
                      name: Cholchol
                      slug: cholchol
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-7858-4890-b106-ca9116ecfa12
                      name: Cunco
                      slug: cunco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-7c87-47d3-bab4-f22d688a40a5
                      name: Curarrehue
                      slug: curarrehue
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-7f4e-4100-aaea-03294a94f113
                      name: Ercilla
                      slug: ercilla
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-8243-4849-9991-44b2a1b63684
                      name: Freire
                      slug: freire
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-84d6-46a0-b5e2-f69242814062
                      name: Galvarino
                      slug: galvarino
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-87c6-41bb-9518-8607989f857e
                      name: Gorbea
                      slug: gorbea
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-8abf-4dc6-bc00-823125b01da0
                      name: Lautaro
                      slug: lautaro
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-8da8-438a-b2c0-3a528cc0ae1c
                      name: Loncoche
                      slug: loncoche
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9090-4dfd-b53c-56f54ba3634b
                      name: Lonquimay
                      slug: lonquimay
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9374-4904-9cd6-e475769837b4
                      name: 'Los Sauces'
                      slug: lossauces
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9631-4f68-a490-a5e4d842e380
                      name: Lumaco
                      slug: lumaco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9926-450e-b166-95b518ef970e
                      name: Melipeuco
                      slug: melipeuco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9c28-412d-9afc-605832661ef9
                      name: 'Nueva Imperial'
                      slug: nuevaimperial
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-9f07-4c01-afb9-6e9a03d8e2cd
                      name: 'Padre Las Casas'
                      slug: padrelascasas
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-a144-4225-9759-d530e5d20273
                      name: Perquenco
                      slug: perquenco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-a3aa-446a-95a6-b15e2d401ac3
                      name: Pitrufquén
                      slug: pitrufquen
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-a637-4a23-99a5-9cb8d5489745
                      name: Pucón
                      slug: pucon
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-a8b7-4c3a-9a89-ecf719cee503
                      name: Purén
                      slug: puren
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-ab49-4d4f-afdb-d67e1360113f
                      name: Renaico
                      slug: renaico
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-adac-450e-92b8-5c26dd8877fa
                      name: Saavedra
                      slug: saavedra
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-b003-4482-a690-e1036e471200
                      name: Temuco
                      slug: temuco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-b2c2-4c77-85c2-2cf70d026429
                      name: 'Teodoro Schmidt'
                      slug: teodoroschmidt
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-b5e9-4aaa-8432-040a84d74de8
                      name: Toltén
                      slug: tolten
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-b8b1-42e4-a2e5-b9f8604e09b0
                      name: Traiguén
                      slug: traiguen
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-bb72-4197-b979-b32820839104
                      name: Victoria
                      slug: victoria
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-bdc0-47d7-ac64-d29c87510261
                      name: Vilcún
                      slug: vilcun
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-c155-4f19-b808-8afd96bdc517
                      name: Villarrica
                      slug: villarrica
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-c40a-40b5-aa5f-1cc7bf757828
                      name: Angol
                      slug: angol
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-c695-4f51-9102-40ba4de9d671
                      name: Collipulli
                      slug: collipulli
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-c8f9-4d6e-8b83-a112968f1fc7
                      name: Curacautín
                      slug: curacautin
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-cb9f-4d0d-ac29-067b8c0233af
                      name: Lonquimay
                      slug: lonquimay
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-ce2c-4ba8-8b0e-bfc637227829
                      name: 'Los Sauces'
                      slug: lossauces
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-d0e7-4b7a-9be4-abd70ee4d637
                      name: Lumaco
                      slug: lumaco
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-d35d-49f6-bf62-bf59abc450c1
                      name: Purén
                      slug: puren
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-d5d8-4b51-8661-ca6fcb12f94c
                      name: Renaico
                      slug: renaico
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-d893-4bce-8622-3d0ce511a94d
                      name: Traiguén
                      slug: traiguen
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-dae2-4418-be3a-209d2f4ee894
                      name: Victoria
                      slug: victoria
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-dda7-471f-bd46-dc3943d2ea90
                      name: Vilcún
                      slug: vilcun
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-e02d-416e-a2a6-83e0da99ba4e
                      name: Villarrica
                      slug: villarrica
                      region_id: 9cabda84-328c-4822-9343-f214b77a45b3
                    -
                      id: 9cabda86-e302-44b9-8d7a-f46888609731
                      name: Corral
                      slug: corral
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-e604-4fb1-98d0-83e792197eab
                      name: Futrono
                      slug: futrono
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-e877-41ea-8a35-0ef7a45980ac
                      name: 'La Unión'
                      slug: launion
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-eaf7-4ec8-9a27-303a0eddb9da
                      name: 'Lago Ranco'
                      slug: lagoranco
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-ed7f-47f9-a8df-7cd2048c2b22
                      name: Lanco
                      slug: lanco
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-f00b-4565-81d1-eaf9f22994fc
                      name: 'Los Lagos'
                      slug: loslagos
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-f23f-4bf3-9e60-3315273fdb1c
                      name: Mariquina
                      slug: mariquina
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-f513-4453-86c7-92fac3384830
                      name: Máfil
                      slug: mafil
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-f7c4-41ce-806e-6151743392eb
                      name: Paillaco
                      slug: paillaco
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-fa6b-448d-9849-e179bd05bad2
                      name: Panguipulli
                      slug: panguipulli
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-fcbe-47c2-9d97-39d7108bb1eb
                      name: 'Río Bueno'
                      slug: riobueno
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda86-feff-4637-a31e-6e209216239a
                      name: Valdivia
                      slug: valdivia
                      region_id: 9cabda84-3513-49af-b2c7-e3352efc0204
                    -
                      id: 9cabda87-01f3-481e-8f35-71bbe66a2800
                      name: Ancud
                      slug: ancud
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-0477-4431-9ffa-3d89d81c26d7
                      name: Calbuco
                      slug: calbuco
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-06b6-42b5-b543-0234c669443e
                      name: Castro
                      slug: castro
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-0962-4673-84d1-aad62a8db5aa
                      name: Chaitén
                      slug: chaiten
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-0c39-4c3a-b25e-1764b41a4a94
                      name: Chonchi
                      slug: chonchi
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-0f65-424d-894f-a2dbde54e9f7
                      name: Cochamó
                      slug: cochamo
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-11f5-4345-a3ee-b895ef0c9451
                      name: 'Curaco de Vélez'
                      slug: curacodevelez
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-14cf-42ee-b60f-8f9c5a572399
                      name: Dalcahue
                      slug: dalcahue
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-17aa-416c-901f-0749cf2633f7
                      name: Fresia
                      slug: fresia
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-1a9c-4610-8102-40e1c548be83
                      name: Frutillar
                      slug: frutillar
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-1d9b-4866-8611-f604bd5be8f2
                      name: Futaleufú
                      slug: futaleufu
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-209e-4d47-ad1a-ede3656134a3
                      name: Hualaihué
                      slug: hualaihue
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-2399-42b4-8ed6-df2740a8bcea
                      name: Llanquihue
                      slug: llanquihue
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-25e4-4f2f-becd-7232b2107aca
                      name: 'Los Muermos'
                      slug: losmuermos
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-28c5-4718-b165-6697502ec2a4
                      name: Maullín
                      slug: maullin
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-2b4a-4849-84e5-74f7c26c8ef4
                      name: Osorno
                      slug: osorno
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-2e71-409f-a84f-bf77003db622
                      name: Palena
                      slug: palena
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-30f3-4d61-aa07-2ee296cffe59
                      name: 'Puerto Montt'
                      slug: puertomontt
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-3380-452e-85e3-d1c34b2e64ec
                      name: 'Puerto Octay'
                      slug: puertooctay
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-35d8-45ec-b3cd-b1188bead496
                      name: 'Puerto Varas'
                      slug: puertovaras
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-3887-41c8-a778-04abf560808e
                      name: Puqueldón
                      slug: puqueldon
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-3af8-44d9-a6a0-545d20c86544
                      name: Purranque
                      slug: purranque
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-3e6f-4627-b4cc-f5ed4a7a8761
                      name: Puyehue
                      slug: puyehue
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-4117-4e66-8d62-e6f7a4a52ac6
                      name: Quellón
                      slug: quellon
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-43d8-4e9a-bbdf-9ab415c7474b
                      name: Quemchi
                      slug: quemchi
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-46a0-4c4b-adb9-77be27204057
                      name: Quinchao
                      slug: quinchao
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-4948-44ca-94e2-72b220f63a0f
                      name: 'Río Negro'
                      slug: rionegro
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-4bd0-44f7-b248-8d424b9a7e40
                      name: 'San Juan de la Costa'
                      slug: sanjuandelacosta
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-4e20-43c3-b45c-1ea1e225a3ea
                      name: 'San Pablo'
                      slug: sanpablo
                      region_id: 9cabda84-377f-434b-935f-9c277c798105
                    -
                      id: 9cabda87-514b-4016-95b6-f2ae605e57ee
                      name: Aisén
                      slug: aisen
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-5436-4c59-88d9-dfaacac045b0
                      name: 'Chile Chico'
                      slug: chilechico
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-56a4-478f-bed4-00359cca816a
                      name: Cisnes
                      slug: cisnes
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-593b-4770-9dc5-1b383cfa83c5
                      name: Cochrane
                      slug: cochrane
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-5b8f-4eb5-b90b-bb836d7bef8f
                      name: Coyhaique
                      slug: coyhaique
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-5ef1-4223-8f2c-c24d1e37d6b0
                      name: Guaitecas
                      slug: guaitecas
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-6177-433b-8d02-e1e928202807
                      name: 'Lago Verde'
                      slug: lagoverde
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-63e0-4e4e-a7ee-e72d8a0dce61
                      name: "O'higgins"
                      slug: ohiggins
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-6681-4f0b-8548-abc2170b480b
                      name: 'Río Ibáñez'
                      slug: rioibanez
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-68cd-4a9a-87b2-eab35e990195
                      name: Tortel
                      slug: tortel
                      region_id: 9cabda84-3a92-465c-91f3-ab584fb15f83
                    -
                      id: 9cabda87-6b2c-4e10-ab72-d60626306b07
                      name: Antártica
                      slug: antartica
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-6d54-4333-a27d-400f6b079370
                      name: 'Cabo de Hornos'
                      slug: cabodehornos
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-6fe3-4888-9086-c73623ab5bc1
                      name: 'Laguna Blanca'
                      slug: lagunablanca
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-72df-46da-88fb-ac07c8fa1fc8
                      name: Natales
                      slug: natales
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-7557-4713-8a20-93a3292bdecf
                      name: Porvenir
                      slug: porvenir
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-77e5-4eb6-8804-10f9bad464f7
                      name: Primavera
                      slug: primavera
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-7a91-453d-aac3-a79b901d1fb6
                      name: 'Punta Arenas'
                      slug: puntaarenas
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-7cec-4efa-984a-c3848015eda5
                      name: 'Río Verde'
                      slug: rioverde
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-7f4f-4e20-95e5-18492a169fc0
                      name: 'San Gregorio'
                      slug: sangregorio
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-8209-47b8-a681-a0336cb417df
                      name: Timaukel
                      slug: timaukel
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                    -
                      id: 9cabda87-849c-4896-b9c9-0d0d85db3f0f
                      name: 'Torres del Paine'
                      slug: torresdelpaine
                      region_id: 9cabda84-3d78-4093-ac40-55c59eb5fd44
                properties:
                  message:
                    type: string
                    example: 'Listado de ciudades'
                  data:
                    type: array
                    example:
                      -
                        id: 9cabda84-412e-463d-9471-0a85cf83f72a
                        name: Arica
                        slug: arica
                        region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                      -
                        id: 9cabda84-4406-4929-831a-b48318bf1049
                        name: Camarones
                        slug: camarones
                        region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                      -
                        id: 9cabda84-4722-4193-aefc-e8e6057f4b83
                        name: 'General Lagos'
                        slug: generallagos
                        region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                      -
                        id: 9cabda84-4981-46e1-975c-2c0e587c2d1e
                        name: Putre
                        slug: putre
                        region_id: 9cabda84-1408-4b19-a275-b70fc1e23982
                      -
                        id: 9cabda84-4c39-431d-8db8-237b0d26a53b
                        name: 'Alto Hospicio'
                        slug: altohospicio
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-4ec3-40c5-b37d-c2ed164a468f
                        name: Camiña
                        slug: camina
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-5179-47ca-8a1a-b3bfbd87f6b0
                        name: Colchane
                        slug: colchane
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-5413-458c-a420-3972fd9e0684
                        name: Huara
                        slug: huara
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-56d8-4bab-b0e0-fc72f3e1909c
                        name: Iquique
                        slug: iquique
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-59b1-4e49-befc-7e232cec3f6d
                        name: Pica
                        slug: pica
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-5c55-48b2-8bca-e01950343e68
                        name: 'Pozo Almonte'
                        slug: pozoalmonte
                        region_id: 9cabda84-16e2-4962-b7f1-7f4716a4150e
                      -
                        id: 9cabda84-5ea6-4035-88a0-375514c6da5c
                        name: Antofagasta
                        slug: antofagasta
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-616e-4f81-9510-c906bc803ded
                        name: Calama
                        slug: calama
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-6398-4f62-ba5d-aa278adc1509
                        name: 'María Elena'
                        slug: mariaelena
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-666d-4617-9ef5-bf0a327d4ae4
                        name: Mejillones
                        slug: mejillones
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-696f-4abc-a22f-4d3364899675
                        name: Ollague
                        slug: ollague
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-6c45-4609-84e4-473ffceab723
                        name: 'San Pedro de Atacama'
                        slug: sanpedrodeatacama
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-6f17-4069-962f-233603773a98
                        name: 'Sierra Gorda'
                        slug: sierragorda
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-7258-4830-9e4a-39d1993ecd4c
                        name: Taltal
                        slug: taltal
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-7546-47b7-8d21-2f5c3b676043
                        name: Tocopilla
                        slug: tocopilla
                        region_id: 9cabda84-1981-4c9c-8d0c-54b43af6f898
                      -
                        id: 9cabda84-780e-4dd9-b628-311479cbd266
                        name: 'Alto del Carmen'
                        slug: altodelcarmen
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-7aca-4ef6-9667-959b5b2bbe71
                        name: Caldera
                        slug: caldera
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-7d71-462b-9157-3ad5b3ce72ed
                        name: Chañaral
                        slug: chanaral
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-7fe7-46f5-b634-5b028270c387
                        name: Copiapó
                        slug: copiapo
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-828b-491c-af85-817c81a52a18
                        name: 'Diego de Almagro'
                        slug: diegodealmagro
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-8521-4240-b570-a04f9af00a03
                        name: Freirina
                        slug: freirina
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-8812-4719-a4fe-ae9f14324e3c
                        name: Huasco
                        slug: huasco
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-8a5e-4fab-84f6-910c6ba91681
                        name: 'Tierra Amarilla'
                        slug: tierraamarilla
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-8ca0-48bd-a263-7bd1a97beaa0
                        name: Vallenar
                        slug: vallenar
                        region_id: 9cabda84-1c77-4b2d-8817-61e984901a47
                      -
                        id: 9cabda84-8f5b-4cc9-9a72-1998fb6b9ed3
                        name: Andacollo
                        slug: andacollo
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-9189-4f1c-a2f6-a721deff75f8
                        name: Canela
                        slug: canela
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-93e7-4cdf-99e1-aa862d85908c
                        name: Combarbalá
                        slug: combarbala
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-9647-4eaa-96ff-327a82290427
                        name: Coquimbo
                        slug: coquimbo
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-989f-48fb-9941-53a58f0d993a
                        name: Illapel
                        slug: illapel
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-9bc9-4303-86ef-15f1a48a24f1
                        name: 'La Higuera'
                        slug: lahiguera
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-9e8c-4277-9cd9-5b304961040b
                        name: 'La Serena'
                        slug: laserena
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-a135-423a-aece-8af94541d6fa
                        name: 'Los Vilos'
                        slug: losvilos
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-a392-462b-ac4d-5863373685e4
                        name: 'Monte Patria'
                        slug: montepatria
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-a63a-4a6e-bc0b-065a2effd495
                        name: Ovalle
                        slug: ovalle
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-a899-4194-b8aa-157334a6451b
                        name: Paihuaco
                        slug: paihuaco
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-ab2a-483b-b266-f84a5a9d29ac
                        name: Punitaqui
                        slug: punitaqui
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-adf6-42d7-8a0e-0475f8351348
                        name: 'Río Hurtado'
                        slug: riohurtado
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-b09f-4307-9158-bedf3ac94832
                        name: Salamanca
                        slug: salamanca
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-b31e-49bb-8ac7-9ce4619bb815
                        name: Vicuña
                        slug: vicuna
                        region_id: 9cabda84-1eb3-431e-9bc8-7904450e0ceb
                      -
                        id: 9cabda84-b63c-4bf4-b3f9-2672ed02249c
                        name: Algarrobo
                        slug: algarrobo
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-b8e4-4473-89bc-d5e4caa2e7ff
                        name: Cabildo
                        slug: cabilo
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-bb20-4b23-88e8-d862128ac522
                        name: 'Calle Larga'
                        slug: callelarga
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-bd9a-4ed4-94b7-c660f8beaee2
                        name: Cartagena
                        slug: cartagena
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-c029-49d9-9806-337efad5fe9a
                        name: Casablanca
                        slug: casablanca
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-c337-4530-9f51-3a9704cea584
                        name: Catemu
                        slug: catemu
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-c5c8-4aff-8d65-a88a02ce3320
                        name: Concón
                        slug: concon
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-c85c-4c91-bdc1-daee89d40061
                        name: 'El Quisco'
                        slug: elquisco
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-cb17-4eae-baff-0df46339f0a1
                        name: 'El Tabo'
                        slug: eltabo
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-cd9f-4ec0-8f80-db56688c0a09
                        name: Hijuelas
                        slug: hijuelas
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-d081-4728-8bad-6be751f5d66a
                        name: 'Isla de Pascua'
                        slug: isladepascua
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-d444-4d43-97ae-1016c5f51392
                        name: 'Juan Fernández'
                        slug: juanfernandez
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-d70d-4c3d-8863-cd648afdc284
                        name: 'La Calera'
                        slug: lacalera
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-d9c2-4442-82f5-332c1795a3fc
                        name: 'La Cruz'
                        slug: lacruz
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-dcc5-40bd-925f-1860ecdcee66
                        name: 'La Ligua'
                        slug: laligua
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-df34-4ae0-9e7e-6d1ccda32fcd
                        name: Limache
                        slug: limache
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-e14d-4b05-9245-43748e789881
                        name: Llaillay
                        slug: llaillay
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-e3cd-4b0a-bd6a-eee8a3fa5ce9
                        name: 'Los Andes'
                        slug: losandes
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-e66f-437f-bf10-8f1473c48381
                        name: Nogales
                        slug: nogales
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-e8fb-4949-8be4-c7200bf14dbb
                        name: Olmué
                        slug: olmue
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-eba7-44f1-b308-f827b07c121d
                        name: Panquehue
                        slug: panquehue
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-ee3b-430d-930d-d375b380a9d0
                        name: Papudo
                        slug: papudo
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-f140-4f19-80d9-4d5e0658caa4
                        name: Petorca
                        slug: petorca
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-f3dc-4a3e-be27-60da6d4953a2
                        name: Puchuncaví
                        slug: puchuncavi
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-f647-49ff-841d-d35de0899017
                        name: Putaendo
                        slug: putaendo
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-f8b8-4e8e-8a33-df85757eee3c
                        name: Quillota
                        slug: quillota
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-fbad-438e-824d-cb228920c363
                        name: Quilpué
                        slug: quilpue
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda84-fe34-42de-9b76-d2f95d758451
                        name: Quintero
                        slug: quintero
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda85-00af-46d6-85fd-3b63159367da
                        name: Rinconada
                        slug: rinconada
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
                      -
                        id: 9cabda85-0361-4315-864e-aca1cbb39971
                        name: 'San Antonio'
                        slug: sanantonio
                        region_id: 9cabda84-21f4-4c5a-9251-6f57b964d180
[...]
