openapi: 3.0.3
info:
  title: 'Nextenvios Joel Prod'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.nextenvios.cl'
paths:
  /api/auth/register:
    post:
      summary: Register
      operationId: register
      description: "Registra un Usuario. Si todo esta bien, retorna una respuesta 200 OK\n\nSi no retorna un error 422 que indica que hay errores en el body."
      parameters: []
      responses:
        422:
          description: 'El body tiene errores.'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The password field confirmation does not match. (and 3 more errors)'
                  errors:
                    password:
                      - 'The password field confirmation does not match.'
                    password_confirmation:
                      - 'The password confirmation field is required.'
                    provider_id:
                      - 'The selected provider id is invalid.'
                    company_id:
                      - 'The selected company id is invalid.'
                properties:
                  message:
                    type: string
                    example: 'The password field confirmation does not match. (and 3 more errors)'
                    description: 'Mensaje de error'
                  errors:
                    type: object
                    properties:
                      password:
                        type: array
                        example:
                          - 'The password field confirmation does not match.'
                        items:
                          type: string
                      password_confirmation:
                        type: array
                        example:
                          - 'The password confirmation field is required.'
                        items:
                          type: string
                      provider_id:
                        type: array
                        example:
                          - 'The selected provider id is invalid.'
                        items:
                          type: string
                      company_id:
                        type: array
                        example:
                          - 'The selected company id is invalid.'
                        items:
                          type: string
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: gljarbguoiyfzqhuuyu
                name2:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: ilhrzuanjz
                last_name:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: zxemvuqlv
                last_name2:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: kjtv
                rut:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: zisytizlshreczg
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 40 characters.'
                  example: chammes@example.net
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: 6rfkb=>iQWwG=U
                password_confirmation:
                  type: string
                  description: 'The confirmed password.'
                  example: password123
                phone:
                  type: string
                  description: 'Must not be greater than 20 characters.'
                  example: abdwbr
                gender:
                  type: string
                  description: ''
                  example: other
                  enum:
                    - male
                    - female
                    - other
                provider_id:
                  type: string
                  description: ''
                  example: similique
                company_id:
                  type: string
                  description: ''
                  example: delectus
              required:
                - name
                - last_name
                - rut
                - email
                - password
                - phone
                - gender
      security: []
  /api/auth/login:
    post:
      summary: Login
      operationId: login
      description: "Check that the service is up. If everything is okay, you'll get a 200 OK response.\n\nOtherwise, the request will fail with a 400 error, and a response listing the failed services."
      parameters: []
      responses:
        400:
          description: 'Service is unhealthy'
          content:
            application/json:
              schema:
                type: object
                example:
                  status: down
                  services:
                    database: up
                    redis: down
                properties:
                  status:
                    type: string
                    example: down
                    description: 'The status of this API (`up` or `down`).'
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        example: up
                      redis:
                        type: string
                        example: down
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: assumenda
                password:
                  type: string
                  description: ''
                  example: qui
              required:
                - email
                - password
      security: []
  /api/auth/forgot-password:
    post:
      summary: ''
      operationId: postApiAuthForgotPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ''
                  example: mable08@example.com
              required:
                - email
      security: []
  /api/auth/reset-password:
    post:
      summary: ''
      operationId: postApiAuthResetPassword
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Auth management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: ''
                  example: quia
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: magdalena98@example.org
                password:
                  type: string
                  description: 'Must be at least 6 characters.'
                  example: '\s_z$$8{ju(d/h~Yu%B'
              required:
                - token
                - email
                - password
      security: []
  /api/cities:
    get:
      summary: 'Display a listing of the resource.'
      operationId: displayAListingOfTheResource
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Listado de ciudades'
                  data:
                    -
                      id: 9c7c5303-8648-4738-a8fe-b0e57ffb0e75
                      name: Arica
                      slug: arica
                      region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                    -
                      id: 9c7c5303-8fe0-49ad-8ef4-dd0ebb525efb
                      name: Camarones
                      slug: camarones
                      region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                    -
                      id: 9c7c5303-98ca-4b00-b0d4-4ac8be452b99
                      name: 'General Lagos'
                      slug: generallagos
                      region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                    -
                      id: 9c7c5303-a2a3-497e-90b4-b11dbbb8033d
                      name: Putre
                      slug: putre
                      region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                    -
                      id: 9c7c5303-ac96-4d80-a53a-2a0a6e26b72d
                      name: 'Alto Hospicio'
                      slug: altohospicio
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-b5d8-478e-a56c-5083e18f25f2
                      name: Camiña
                      slug: camina
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-c03d-40f8-99a7-39cb6f8e4768
                      name: Colchane
                      slug: colchane
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-cd15-4631-ba74-e2e4e3bb42f2
                      name: Huara
                      slug: huara
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-db14-4e9b-8ce1-520ad99dc30a
                      name: Iquique
                      slug: iquique
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-e5ea-4be8-9d67-6f43619d585e
                      name: Pica
                      slug: pica
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5303-f49e-4f5b-8e37-fb72e0c6e7d4
                      name: 'Pozo Almonte'
                      slug: pozoalmonte
                      region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                    -
                      id: 9c7c5304-01a4-4383-b538-cadb680c9779
                      name: Antofagasta
                      slug: antofagasta
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-0ef9-46ff-94ce-5fcff70f2ec6
                      name: Calama
                      slug: calama
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-17f5-4951-a1d4-6cac6cc9a367
                      name: 'María Elena'
                      slug: mariaelena
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-2292-4880-bc6e-c879c105d66d
                      name: Mejillones
                      slug: mejillones
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-38a6-4063-ae3c-9d96616afc71
                      name: Ollague
                      slug: ollague
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-45cb-4446-948d-eca12a33e117
                      name: 'San Pedro de Atacama'
                      slug: sanpedrodeatacama
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-5232-4e10-a835-2a4e9cb46d9e
                      name: 'Sierra Gorda'
                      slug: sierragorda
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-5aab-49f5-9897-687ea170c749
                      name: Taltal
                      slug: taltal
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-62d2-4762-becb-201735ab1337
                      name: Tocopilla
                      slug: tocopilla
                      region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                    -
                      id: 9c7c5304-6a39-4787-98a7-2f53671c16c3
                      name: 'Alto del Carmen'
                      slug: altodelcarmen
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-7341-42a2-bdde-f9f67998c133
                      name: Caldera
                      slug: caldera
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-7e65-4f7a-b5bc-07bb32de028d
                      name: Chañaral
                      slug: chanaral
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-84df-43fd-bea4-0f66d1629269
                      name: Copiapó
                      slug: copiapo
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-8d1c-416f-874e-cfc115868ce5
                      name: 'Diego de Almagro'
                      slug: diegodealmagro
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-9560-4de6-b32a-634733d39617
                      name: Freirina
                      slug: freirina
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-9ecc-4ae3-9179-d34ae4fbe3d6
                      name: Huasco
                      slug: huasco
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-aa75-4c59-a86e-2868adcfc595
                      name: 'Tierra Amarilla'
                      slug: tierraamarilla
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-b53b-4d96-ab29-b549006d20d7
                      name: Vallenar
                      slug: vallenar
                      region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                    -
                      id: 9c7c5304-be02-4634-badd-64edd1717427
                      name: Andacollo
                      slug: andacollo
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-c94f-42e6-b3f1-30f7815b5485
                      name: Canela
                      slug: canela
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-d648-4606-a21f-5440cb933d7e
                      name: Combarbalá
                      slug: combarbala
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-df94-49b0-ad79-f4edde153d93
                      name: Coquimbo
                      slug: coquimbo
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-e858-4de8-9cd7-5a4bb77c14bc
                      name: Illapel
                      slug: illapel
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-f1ab-4909-82c1-33ec8c11f544
                      name: 'La Higuera'
                      slug: lahiguera
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-f762-4fca-83ae-0ce5584a6e88
                      name: 'La Serena'
                      slug: laserena
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5304-fed7-4e0a-a846-91f565b095a6
                      name: 'Los Vilos'
                      slug: losvilos
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-052e-4ec1-9edc-e12709680862
                      name: 'Monte Patria'
                      slug: montepatria
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-0cde-4a3f-9950-a914be12e642
                      name: Ovalle
                      slug: ovalle
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-17c6-4abe-a3f6-78ea0927d740
                      name: Paihuaco
                      slug: paihuaco
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-1e9f-47fc-8a87-ff7dcd797e57
                      name: Punitaqui
                      slug: punitaqui
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-2629-4131-8897-c060770fe082
                      name: 'Río Hurtado'
                      slug: riohurtado
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-2b9d-433c-9476-66ad66c34801
                      name: Salamanca
                      slug: salamanca
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-3037-4089-9612-8a8a0a8734cb
                      name: Vicuña
                      slug: vicuna
                      region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                    -
                      id: 9c7c5305-3571-4dba-97fe-3694120f7d5a
                      name: Algarrobo
                      slug: algarrobo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-3909-45d6-9b1d-047ce86e4c4f
                      name: Cabildo
                      slug: cabilo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-3e4f-4d99-bbd3-c10d60c41d81
                      name: 'Calle Larga'
                      slug: callelarga
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-433a-409e-b307-fac704c66b9c
                      name: Cartagena
                      slug: cartagena
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-486d-413a-bc4e-1f4a5d1db98e
                      name: Casablanca
                      slug: casablanca
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-4dfa-48cd-a62c-1cec55be0595
                      name: Catemu
                      slug: catemu
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-542e-4882-bee9-8e72c1506c67
                      name: Concón
                      slug: concon
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-5ad4-4273-b71c-84cb126f1c84
                      name: 'El Quisco'
                      slug: elquisco
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-60a6-46a4-a603-cf0ca8111d56
                      name: 'El Tabo'
                      slug: eltabo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-6746-4dab-90d0-6dfc8fab8bb2
                      name: Hijuelas
                      slug: hijuelas
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-6c03-4e58-adb1-2945a00e6586
                      name: 'Isla de Pascua'
                      slug: isladepascua
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-7284-4504-b3b0-37f32d293c75
                      name: 'Juan Fernández'
                      slug: juanfernandez
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-77de-4a8a-afbe-23aeff6706df
                      name: 'La Calera'
                      slug: lacalera
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-7f47-4ebf-9026-c0e0df121e16
                      name: 'La Cruz'
                      slug: lacruz
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-88a4-4917-af83-26b731e69218
                      name: 'La Ligua'
                      slug: laligua
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-92af-4fd7-a395-e2756ea9cd4a
                      name: Limache
                      slug: limache
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-9a5e-4cbf-8d9c-918290c9857d
                      name: Llaillay
                      slug: llaillay
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-a3f3-403a-9d64-3d60376672ba
                      name: 'Los Andes'
                      slug: losandes
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-afce-40ae-a589-4fd55c3097ee
                      name: Nogales
                      slug: nogales
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-ba88-473e-95f5-a4ca22e79b80
                      name: Olmué
                      slug: olmue
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-c5ec-4d8d-a407-afdd9fde192e
                      name: Panquehue
                      slug: panquehue
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-ce1f-4659-8a06-c249bb9d8ffd
                      name: Papudo
                      slug: papudo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-d832-4e0d-9eb6-62d502cb6ced
                      name: Petorca
                      slug: petorca
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-e328-4e5a-9274-0c52bae632ad
                      name: Puchuncaví
                      slug: puchuncavi
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-ecba-4d6e-badd-558825c4843a
                      name: Putaendo
                      slug: putaendo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-f6cd-4055-baaa-80d2f01a6f3e
                      name: Quillota
                      slug: quillota
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5305-ff5b-4a9f-8e5a-c9f9e3d584c7
                      name: Quilpué
                      slug: quilpue
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-0c39-47a0-972a-1a27b5d316b4
                      name: Quintero
                      slug: quintero
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-15ab-44e6-80b7-e8915a9f694b
                      name: Rinconada
                      slug: rinconada
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-1f62-46fe-9194-7ae63dd1255b
                      name: 'San Antonio'
                      slug: sanantonio
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-2859-4389-a6be-7973c6b49bd6
                      name: 'San Esteban'
                      slug: sanesteban
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-3367-4a6d-9dde-803d5adf87dc
                      name: 'San Felipe'
                      slug: sanfelipe
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-3ad6-405e-a665-e83ae2da5f71
                      name: 'Santa María'
                      slug: santamaria
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-4264-419e-bb03-87515e5e983b
                      name: 'Santo Domingo'
                      slug: santodomingo
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-4d7e-45e0-b5e5-878614d0da6d
                      name: Valparaíso
                      slug: valparaiso
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-560e-44bd-9555-6946b26398c1
                      name: 'Villa Alemana'
                      slug: villaalemana
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-5f4e-4cc3-bbf4-99647076ae23
                      name: 'Viña del Mar'
                      slug: vinadelmar
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-6809-48d9-b136-37f6675cfaf8
                      name: Zapallar
                      slug: zapallar
                      region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                    -
                      id: 9c7c5306-6ef0-4870-a325-ce336165301b
                      name: Alhué
                      slug: alhue
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-77c2-4218-aa04-d0ae383636a9
                      name: Buin
                      slug: buin
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-8361-4043-818e-096b0b52a056
                      name: 'Calera de Tango'
                      slug: caleradetango
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-8c47-41f2-92b9-f3d8ad903f18
                      name: Cerrillos
                      slug: cerrillos
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-98b1-487e-a27c-ce4521520e1e
                      name: 'Cerro Navia'
                      slug: cerronavia
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-a6a9-4fae-8864-16d608b9efbc
                      name: Colina
                      slug: colina
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-afe4-46ef-8ce5-39a03d573746
                      name: Conchalí
                      slug: conchali
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-baaa-49e9-957b-43e29d49875f
                      name: Curacaví
                      slug: curacavi
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-c2ca-43b2-ba8d-3d4f8e11a5c4
                      name: 'El Bosque'
                      slug: elbosque
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-cea9-4810-aac5-b586b4b3b827
                      name: 'El Monte'
                      slug: elmonte
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-da00-4fea-9a44-54920da49bed
                      name: 'Estación Central'
                      slug: estacioncentral
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-e2f8-4a63-ba3c-6c955b88956f
                      name: Huechuraba
                      slug: huechuraba
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-eb7a-4a8e-8a7f-ef45a5e29a76
                      name: Independencia
                      slug: independencia
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-f455-45b7-a556-9b494d37a0a6
                      name: 'Isla de Maipo'
                      slug: islademaipo
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5306-fe3b-4802-a708-fd8fe90d1e5f
                      name: 'La Cisterna'
                      slug: lacisterna
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-064c-4869-bdef-8f3668517491
                      name: 'La Florida'
                      slug: laflorida
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-104a-42e5-a5aa-b4b65794dd1e
                      name: 'La Granja'
                      slug: lagranja
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-19ce-4107-a369-96c90d983d38
                      name: 'La Pintana'
                      slug: lapintana
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-2407-439a-9f45-d020d67f9906
                      name: 'La Reina'
                      slug: lareina
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-2c90-47ed-9317-ac30b5b2ce5b
                      name: Lampa
                      slug: lampa
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-3703-49b1-9409-bd48abe3b39f
                      name: 'Las Condes'
                      slug: lascondes
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-4385-40fd-b153-cb4d46eca5c8
                      name: 'Lo Barnechea'
                      slug: lobarnechea
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-5aa5-4a32-ad89-92b6f155975b
                      name: 'Lo Espejo'
                      slug: loespejo
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-6742-4342-a6a2-c03bfacbf796
                      name: 'Lo Prado'
                      slug: loprado
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-70d9-43bf-a98a-b11989bb7984
                      name: Macul
                      slug: macul
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-77a9-477d-8dc2-d67eeda529bf
                      name: Maipú
                      slug: maipu
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-7e7f-40a3-9090-4c95599657a2
                      name: 'María Pinto'
                      slug: mariapinto
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-85ad-41a7-b248-959bc769ec38
                      name: Melipilla
                      slug: melipilla
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-8c9d-4ee0-87e0-19f778e2da13
                      name: Ñuñoa
                      slug: nunoa
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-9593-4b42-b97f-67fa2e292049
                      name: 'Padre Hurtado'
                      slug: padrehurtado
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-9c1e-444c-a4ec-421aab253962
                      name: Paine
                      slug: paine
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-a2ca-499e-801a-66ceb4c806bf
                      name: 'Pedro Aguirre Cerda'
                      slug: pedroaguirrecerda
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-ab28-4aa8-9794-5ddd5d565eee
                      name: Peñaflor
                      slug: penaflor
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-b394-4306-8a63-b2914434439c
                      name: Peñalolén
                      slug: penalolen
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-c00a-48d1-a514-f603da5581ac
                      name: Pirque
                      slug: pirque
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-c85f-432a-a5d0-30594035390b
                      name: Providencia
                      slug: providencia
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-d097-4701-8dc5-9fd7f21105b0
                      name: Pudahuel
                      slug: pudahuel
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-d941-4c28-96ce-5b4f7d743de7
                      name: 'Puente Alto'
                      slug: puentealto
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-dfd4-4cae-afd1-7c03b17b48ad
                      name: Quilicura
                      slug: quilicura
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-e6a4-4f7b-8251-22ee46640da8
                      name: 'Quinta Normal'
                      slug: quintanormal
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-ecf4-4539-b9c2-8eea2e2a2a6e
                      name: Recoleta
                      slug: recoleta
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-f35a-4c1e-bcdf-fabf7884a73b
                      name: Renca
                      slug: renca
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-f913-468d-a40d-cedfede80ed2
                      name: 'San Bernardo'
                      slug: sanbernardo
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5307-ff22-432b-b0e9-2117c22a5539
                      name: 'San Joaquín'
                      slug: sanjoaquin
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-13e1-4a58-bd0a-648f0520ff59
                      name: 'San José de Maipo'
                      slug: sanjosedemaipo
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-1c28-4474-9577-51dcdae19111
                      name: 'San Miguel'
                      slug: sanmiguel
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-26aa-4d5e-8d7a-1e00e60ed68f
                      name: 'San Pedro'
                      slug: sanpedro
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-3285-4802-a428-3b9caf9d83f5
                      name: 'San Ramón'
                      slug: sanramon
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-3b8c-4aee-802a-531aaad5d551
                      name: Santiago
                      slug: santiago
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-4486-4de2-b045-c00b89d50ad4
                      name: Talagante
                      slug: talagante
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-4cef-4b20-86be-ac3a2ed83347
                      name: Tiltil
                      slug: tiltil
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-54fc-489c-8d43-c2e7b3d63051
                      name: Vitacura
                      slug: vitacura
                      region_id: 9c7c5302-f56f-4b4d-93f3-233d27a0b08c
                    -
                      id: 9c7c5308-5f3e-4b9e-b127-1f6c95257b2e
                      name: Codegua
                      slug: codegua
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-6788-4fc0-8ad0-99229281ddf7
                      name: Coinco
                      slug: coinco
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-7011-4a0e-a931-72f0bf45988c
                      name: Coltauco
                      slug: coltauco
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-7a64-4428-9ffb-f62da3b21eed
                      name: Doñihue
                      slug: donihue
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-8716-42c4-9a72-780e3730541d
                      name: Graneros
                      slug: graneros
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-92bf-478e-93a3-acd0ef8480e5
                      name: 'La Estrella'
                      slug: laestrella
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-9c9f-4e88-9236-7bb99161d8e6
                      name: 'Las Cabras'
                      slug: lascabras
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-a7bb-47e4-8d6d-6c2e9ba90018
                      name: Litueche
                      slug: litueche
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-b095-4d12-b89c-ca1c6ae5bf9e
                      name: Lolol
                      slug: lolol
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-b980-4f6e-b94d-a57b2fdcebab
                      name: Machalí
                      slug: machali
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-c515-41f5-bd4c-c642b68ba1e1
                      name: Malloa
                      slug: malloa
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-d140-4a41-b708-39285aa2f9d6
                      name: Marchigüe
                      slug: marchigue
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-d9d5-4805-be3b-4106dd9c5e6d
                      name: Mostazal
                      slug: mostazal
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-dfe9-400f-86fb-7f1283d59695
                      name: Nancagua
                      slug: nancagua
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-e7ab-4f28-a402-8311b258e264
                      name: Navidad
                      slug: navidad
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-f11e-4a45-b1aa-7096e53930ca
                      name: Olivar
                      slug: olivar
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5308-fc53-46c8-8440-ea0016ac749c
                      name: Palmilla
                      slug: palmilla
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-04bd-497e-bac5-7f88f2f7a623
                      name: Paredones
                      slug: paredones
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-0da0-4280-8ccf-9412b86152a8
                      name: Peralillo
                      slug: peralillo
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-153f-481e-a69c-290bb4d5c4b7
                      name: Peumo
                      slug: peumo
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-2297-4475-a08b-e4c13a971bd6
                      name: Pichidegua
                      slug: pichidegua
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-2b93-42de-92d7-614603b816be
                      name: Pichilemu
                      slug: pichilemu
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-3350-4353-a3f4-bc56b64a2dd9
                      name: Placilla
                      slug: placilla
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-3a35-412a-9311-886bb6de55ea
                      name: Pumanque
                      slug: pumanque
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-422f-411c-a94a-73bbce542d40
                      name: 'Quinta de Tilcoco'
                      slug: quintadetilcoco
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-49a3-4bba-b997-a5a9f06d12c0
                      name: Rancagua
                      slug: rancagua
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-4e1a-4c45-beb9-18fcc0ef4967
                      name: Rengo
                      slug: rengo
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-53d9-40b4-879e-860bd90ccf56
                      name: Requínoa
                      slug: requinoa
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-5a25-464a-8ae3-8e5f0e18a304
                      name: 'San Fernando'
                      slug: sanfernando
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-6448-4740-a155-cb809984ffb9
                      name: 'San Vicente de Tagua Tagua'
                      slug: sanvicentedetaguatagua
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-71ff-4f93-9450-d6cafb293e97
                      name: 'Santa Cruz'
                      slug: santacruz
                      region_id: 9c7c5303-12b3-4ed6-9260-9929cf000bee
                    -
                      id: 9c7c5309-7d34-4141-99f7-1e5996036ab4
                      name: Chanco
                      slug: chanco
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-8586-4cd3-a291-53cfacb627e4
                      name: Colbún
                      slug: colbun
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-9508-45ef-9b1b-5d033dad7def
                      name: Constitución
                      slug: constitucion
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-a0bb-45c3-83f0-b8ddd312058a
                      name: Curepto
                      slug: curepto
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-ab29-4bf2-81f4-d8510b5b029a
                      name: Curicó
                      slug: curico
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-b43f-479b-97e9-6a9f1132f40b
                      name: Empedrado
                      slug: empedrado
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-c30b-4042-969b-1d40f511ffbd
                      name: Hualañé
                      slug: hualane
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-cbe0-4870-8277-feb3336e18fc
                      name: Licantén
                      slug: licanten
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-d611-41b9-919a-e7aa7c60d2ca
                      name: Linares
                      slug: linares
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-e05d-4fc3-92a7-4cc640f004e1
                      name: Longaví
                      slug: longavi
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-eee4-439f-a328-2b9d8874ae77
                      name: Maule
                      slug: maule
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-f595-4387-a7d3-362a0e2796c3
                      name: Molina
                      slug: molina
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c5309-fc45-4c93-9fb2-0cde1f627155
                      name: Parral
                      slug: parral
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-06e1-4e25-a129-5e4d1071edf7
                      name: Pelarco
                      slug: pelarco
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-1233-45b6-8672-1cc3ec855b9a
                      name: Pelluhue
                      slug: pelluhue
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-1f91-4984-b6c9-81c05a7b9ef7
                      name: Pencahue
                      slug: pencahue
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-27a1-4376-8489-26b788899dc1
                      name: Rauco
                      slug: rauco
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-317b-4759-a016-0e71c3934540
                      name: Retiro
                      slug: retiro
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-3f09-447a-8e24-e57c21e709cf
                      name: 'Río Claro'
                      slug: rioclaro
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-4804-438f-bf27-23c256ada321
                      name: Romeral
                      slug: romeral
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-5468-4d4e-acb7-615687aa61c1
                      name: 'Sagrada Familia'
                      slug: sagradafamilia
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-6127-4ada-ae13-9a9a07bc2550
                      name: 'San Clemente'
                      slug: sanclemente
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-692d-4501-ab01-a48c2fff3845
                      name: 'San Javier de Loncomilla'
                      slug: sanjavierdeloncomilla
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-738e-4d25-a9d5-a6fb3215a986
                      name: 'San Rafael'
                      slug: sanrafael
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-7a5f-497a-907b-8f8ff4ef2fc4
                      name: Talca
                      slug: talca
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-864c-44ad-8911-6a1329e96ea5
                      name: Teno
                      slug: teno
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-8c54-4345-9982-5ada4d9262c2
                      name: Vichuquén
                      slug: vichuquen
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-9485-40dd-bce2-732d66a1fdd0
                      name: 'Villa Alegre'
                      slug: villaalegre
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-9ce3-414c-95f2-63df6519140d
                      name: 'Yerbas Buenas'
                      slug: yerbasbuenas
                      region_id: 9c7c5303-225f-40b5-b47b-f6e9cc3e2262
                    -
                      id: 9c7c530a-a58f-44a9-9f19-88ee3c1f2380
                      name: Bulnes
                      slug: bulnes
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-af1b-4698-aaa1-fc5971404fd0
                      name: Chillán
                      slug: chillan
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-b7d8-40bc-b2e2-e4c60562a34a
                      name: 'Chillán Viejo'
                      slug: chillanviejo
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-beff-40a2-9b77-045e52bffd12
                      name: Cobquecura
                      slug: cobquecura
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-c575-4fe5-8b8e-5e325a3e846e
                      name: Coelemu
                      slug: coelemu
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-ccd2-4e3b-99f0-e14d485852ae
                      name: Coihueco
                      slug: coihueco
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-d85b-423a-95b3-970bbb095f4e
                      name: 'El Carmen'
                      slug: elcarmen
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-e16c-4fb7-8a92-2de2bac561fc
                      name: Ninhue
                      slug: ninhue
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-e939-46cd-83e6-0f86d0103afb
                      name: Ñiquén
                      slug: niquen
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-f20b-4dc9-b402-5b9449fe1af8
                      name: Pemuco
                      slug: pemuco
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530a-fd07-4fdc-a6f7-1f5295363b33
                      name: Pinto
                      slug: pinto
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-17fb-46e2-9364-3ea0a010098f
                      name: Portezuelo
                      slug: portezuelo
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-24a4-405b-a092-f208016b00dc
                      name: Quillón
                      slug: quillon
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-2e4f-44be-8960-d92a2b5a32ad
                      name: Quirihue
                      slug: quirihue
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-38bb-4b75-a125-22fa4cc45046
                      name: Ránquil
                      slug: ranquil
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-4230-4bbb-9fcb-cbe9809c7f0c
                      name: 'San Carlos'
                      slug: sancarlos
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-4b98-46e7-851c-f12bfd7d98e6
                      name: 'San Fabián'
                      slug: sanfabian
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-5368-4add-ad2e-c00c974bc2f2
                      name: 'San Ignacio'
                      slug: sanignacio
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-5a0d-4899-8bdd-1c4b69d25fb6
                      name: 'San Nicolás'
                      slug: sannicolas
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-6089-4441-9c19-40bba81ae8b6
                      name: Treguaco
                      slug: treguaco
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-6779-4cca-8967-0388cf36c661
                      name: Yungay
                      slug: yungay
                      region_id: 9c7c5303-2e10-492c-911a-7d58548b6373
                    -
                      id: 9c7c530b-7058-468d-9b7e-2ee47d0574c0
                      name: Carahue
                      slug: carahue
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-7828-40b8-892a-21aed240d852
                      name: Cholchol
                      slug: cholchol
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-7fdf-4609-a1e6-fbc19db75582
                      name: Cunco
                      slug: cunco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-8a8e-404e-8e45-4d98899479bc
                      name: Curarrehue
                      slug: curarrehue
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-9884-49fe-82ad-51052907cbec
                      name: Ercilla
                      slug: ercilla
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-9f5e-43d8-9c65-52e937b8233c
                      name: Freire
                      slug: freire
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-a60b-4e04-8d75-89db1820802a
                      name: Galvarino
                      slug: galvarino
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-accc-4e97-892e-1ce9c39936f5
                      name: Gorbea
                      slug: gorbea
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-b637-47f4-bc36-86f33f8235ac
                      name: Lautaro
                      slug: lautaro
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-c2a5-494c-8c2a-4d2dc599312a
                      name: Loncoche
                      slug: loncoche
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-cd08-4904-a203-dbe10b34c253
                      name: Lonquimay
                      slug: lonquimay
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-d81a-4d62-b37a-ac58e687e091
                      name: 'Los Sauces'
                      slug: lossauces
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-e1f2-4688-948c-a1e7d53f12aa
                      name: Lumaco
                      slug: lumaco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-ecb7-45d4-a9b5-7317e8da5f6f
                      name: Melipeuco
                      slug: melipeuco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-f4a6-4eaf-a697-86fe5259da9e
                      name: 'Nueva Imperial'
                      slug: nuevaimperial
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530b-fab5-48a2-b1a8-a40bacc7afaf
                      name: 'Padre Las Casas'
                      slug: padrelascasas
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-0294-4433-a002-d7e8f865f83d
                      name: Perquenco
                      slug: perquenco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-0d08-4593-b881-ba3d590db7c0
                      name: Pitrufquén
                      slug: pitrufquen
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-1a57-4df7-b0c5-e5c4a8086ac4
                      name: Pucón
                      slug: pucon
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-23ba-48a7-b727-8e81f35bf66b
                      name: Purén
                      slug: puren
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-2c71-44ea-8ee7-bd8313c9dea3
                      name: Renaico
                      slug: renaico
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-3ada-43e3-9e7e-40df957112c0
                      name: Saavedra
                      slug: saavedra
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-457d-466a-9ce7-de55a26dcde0
                      name: Temuco
                      slug: temuco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-4cb3-49f1-b93f-1c3f727f0f5f
                      name: 'Teodoro Schmidt'
                      slug: teodoroschmidt
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-57d9-4923-9984-60005d7ecc32
                      name: Toltén
                      slug: tolten
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-63e9-48c8-84d0-9b9c5d5b00b7
                      name: Traiguén
                      slug: traiguen
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-6c37-4f7a-85cd-56d06c5017bc
                      name: Victoria
                      slug: victoria
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-760c-4bf7-ae20-d25fd4cb26d7
                      name: Vilcún
                      slug: vilcun
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-7cea-4a7e-abf1-6bbb273d4b19
                      name: Villarrica
                      slug: villarrica
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-875b-4ecb-bae5-7f1f50371bed
                      name: Angol
                      slug: angol
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-8dc2-4211-9c1b-62e36acab3f5
                      name: Collipulli
                      slug: collipulli
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-9557-40f2-96c0-97505483170b
                      name: Curacautín
                      slug: curacautin
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-9d16-4cf8-8b79-3d1d4582ccd8
                      name: Lonquimay
                      slug: lonquimay
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-a3d5-4567-8701-150c709c83d2
                      name: 'Los Sauces'
                      slug: lossauces
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-ab20-4bbc-8ef6-b435d82c019e
                      name: Lumaco
                      slug: lumaco
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-b2b1-42ce-92be-dc5c188c3dd5
                      name: Purén
                      slug: puren
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-bb56-4e94-87f9-308f6f2c0975
                      name: Renaico
                      slug: renaico
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-c54a-4099-8747-b4f1f1106f44
                      name: Traiguén
                      slug: traiguen
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-cfc9-40c3-bf6c-29ce49844311
                      name: Victoria
                      slug: victoria
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-db95-4d04-bee4-0f6959b771dc
                      name: Vilcún
                      slug: vilcun
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-e38a-45a2-be9f-f1fb6c3bd1b9
                      name: Villarrica
                      slug: villarrica
                      region_id: 9c7c5303-44bd-4850-afed-3351c3f018f3
                    -
                      id: 9c7c530c-eb0c-473c-88a3-b945c6b5cb11
                      name: Corral
                      slug: corral
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530c-f187-43a3-90e5-873a9ec769d7
                      name: Futrono
                      slug: futrono
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530c-f961-42a0-8129-f54aa0f0a03f
                      name: 'La Unión'
                      slug: launion
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-0296-4e4b-b5e9-24a68b96c1e3
                      name: 'Lago Ranco'
                      slug: lagoranco
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-0a41-4ccf-9490-53e7936f4691
                      name: Lanco
                      slug: lanco
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-14fb-422d-a2d8-923b46da90c3
                      name: 'Los Lagos'
                      slug: loslagos
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-1b8e-4389-80f0-0c5444c858cb
                      name: Mariquina
                      slug: mariquina
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-2799-4d00-9753-afd709e6c9df
                      name: Máfil
                      slug: mafil
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-2eed-40eb-ab93-c12c810172d1
                      name: Paillaco
                      slug: paillaco
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-3719-44e8-8181-f5e6b402c53c
                      name: Panguipulli
                      slug: panguipulli
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-41b8-404a-96f6-96e6414885ab
                      name: 'Río Bueno'
                      slug: riobueno
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-4a1c-48fe-a01e-a0c7f1222348
                      name: Valdivia
                      slug: valdivia
                      region_id: 9c7c5303-4f85-487a-add5-227570065475
                    -
                      id: 9c7c530d-51cd-4ebc-8153-8f8372461ca4
                      name: Ancud
                      slug: ancud
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-59a4-4325-b6f5-bf4bb4b140e4
                      name: Calbuco
                      slug: calbuco
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-6199-4ef8-b0e2-208a1fbd6b71
                      name: Castro
                      slug: castro
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-69ab-431a-ace5-691785ab288c
                      name: Chaitén
                      slug: chaiten
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-732a-4794-8462-661a95e4b46d
                      name: Chonchi
                      slug: chonchi
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-7da4-462d-9723-7a95001fba82
                      name: Cochamó
                      slug: cochamo
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-874d-436d-8630-cb5b0ffbe0e1
                      name: 'Curaco de Vélez'
                      slug: curacodevelez
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-9120-49c0-942d-e9987c4db622
                      name: Dalcahue
                      slug: dalcahue
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-9a28-44a9-b995-00134cd9dd23
                      name: Fresia
                      slug: fresia
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-9fa1-4191-b606-c47d9e2975a3
                      name: Frutillar
                      slug: frutillar
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-a7fd-44e9-a43b-c887e078683e
                      name: Futaleufú
                      slug: futaleufu
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-b001-4cef-a8f9-386034f7725f
                      name: Hualaihué
                      slug: hualaihue
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-b76d-4dbc-b431-4db347ed03a2
                      name: Llanquihue
                      slug: llanquihue
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-bf47-4011-a00c-c233b4c711a1
                      name: 'Los Muermos'
                      slug: losmuermos
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-c5d1-4b7b-b8dd-093074302508
                      name: Maullín
                      slug: maullin
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-cc4f-4cd9-962c-7c7cc035b0f6
                      name: Osorno
                      slug: osorno
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-d26a-4eee-801d-f6960a74f23c
                      name: Palena
                      slug: palena
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-d815-4e39-89db-06742126d489
                      name: 'Puerto Montt'
                      slug: puertomontt
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-e031-4860-8eb4-22a7514badda
                      name: 'Puerto Octay'
                      slug: puertooctay
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-e686-44b3-ae74-bc0618323f24
                      name: 'Puerto Varas'
                      slug: puertovaras
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-ed67-4582-b312-5e84be6fb104
                      name: Puqueldón
                      slug: puqueldon
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530d-f714-4049-a6a7-a39e01f939e2
                      name: Purranque
                      slug: purranque
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-0227-4b92-9cb2-f5ec611a1fae
                      name: Puyehue
                      slug: puyehue
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-0ce4-42d9-b180-3fcb829bad08
                      name: Quellón
                      slug: quellon
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-192a-47fa-a7d4-a238916f4651
                      name: Quemchi
                      slug: quemchi
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-2163-4f02-acc5-f120b3929ed7
                      name: Quinchao
                      slug: quinchao
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-29ff-4e14-b675-2e97c31d6e3e
                      name: 'Río Negro'
                      slug: rionegro
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-3774-4692-98b5-499e34bd6ff7
                      name: 'San Juan de la Costa'
                      slug: sanjuandelacosta
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-3f23-4de1-ad44-7aaacf29217e
                      name: 'San Pablo'
                      slug: sanpablo
                      region_id: 9c7c5303-5928-4780-88ec-749709108211
                    -
                      id: 9c7c530e-4743-4774-8c84-0e45b4c9452c
                      name: Aisén
                      slug: aisen
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-4f1c-42fa-b45c-0ffc7c4a5f74
                      name: 'Chile Chico'
                      slug: chilechico
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-565d-463b-b900-07b55edd75dd
                      name: Cisnes
                      slug: cisnes
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-619c-4565-9cb4-9e8780f638d9
                      name: Cochrane
                      slug: cochrane
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-6a9f-40bd-a69d-6fbe011c039f
                      name: Coyhaique
                      slug: coyhaique
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-713b-4489-bbe4-eb92c68c740f
                      name: Guaitecas
                      slug: guaitecas
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-7856-47a5-bb5f-e1fa8bd8bccf
                      name: 'Lago Verde'
                      slug: lagoverde
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-82bc-46c0-ba8c-2e224ac3c642
                      name: "O'higgins"
                      slug: ohiggins
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-8be1-489b-9271-178a8a567bdb
                      name: 'Río Ibáñez'
                      slug: rioibanez
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-94f0-44ce-a6e0-bb333afc3cbc
                      name: Tortel
                      slug: tortel
                      region_id: 9c7c5303-5ff4-4a8c-aca0-a8483ff14a18
                    -
                      id: 9c7c530e-a55e-4e82-b11c-233ffc6a696a
                      name: Antártica
                      slug: antartica
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-b326-49dc-a4d5-2f0bb545e610
                      name: 'Cabo de Hornos'
                      slug: cabodehornos
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-bcaf-4b3d-ae48-fd97eb8f8378
                      name: 'Laguna Blanca'
                      slug: lagunablanca
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-c8d3-4e34-ab5b-42048cb957b5
                      name: Natales
                      slug: natales
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-d14f-435e-aa07-358173200041
                      name: Porvenir
                      slug: porvenir
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-daf1-4201-8f4f-b356f7b59590
                      name: Primavera
                      slug: primavera
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-e5cb-441f-bc24-790e91bf9ca5
                      name: 'Punta Arenas'
                      slug: puntaarenas
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-f33f-49a7-8838-f573b484c130
                      name: 'Río Verde'
                      slug: rioverde
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530e-fe7c-4de7-aa56-b7be9ec0a703
                      name: 'San Gregorio'
                      slug: sangregorio
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530f-0e19-4352-ac48-fc8079e2e385
                      name: Timaukel
                      slug: timaukel
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                    -
                      id: 9c7c530f-1732-4d96-bf21-95d5be15bbb5
                      name: 'Torres del Paine'
                      slug: torresdelpaine
                      region_id: 9c7c5303-6c0e-49cf-970a-85a3cb139de1
                properties:
                  message:
                    type: string
                    example: 'Listado de ciudades'
                  data:
                    type: array
                    example:
                      -
                        id: 9c7c5303-8648-4738-a8fe-b0e57ffb0e75
                        name: Arica
                        slug: arica
                        region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                      -
                        id: 9c7c5303-8fe0-49ad-8ef4-dd0ebb525efb
                        name: Camarones
                        slug: camarones
                        region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                      -
                        id: 9c7c5303-98ca-4b00-b0d4-4ac8be452b99
                        name: 'General Lagos'
                        slug: generallagos
                        region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                      -
                        id: 9c7c5303-a2a3-497e-90b4-b11dbbb8033d
                        name: Putre
                        slug: putre
                        region_id: 9c7c5302-ad1f-4e39-a805-3ebb0d2c476d
                      -
                        id: 9c7c5303-ac96-4d80-a53a-2a0a6e26b72d
                        name: 'Alto Hospicio'
                        slug: altohospicio
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-b5d8-478e-a56c-5083e18f25f2
                        name: Camiña
                        slug: camina
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-c03d-40f8-99a7-39cb6f8e4768
                        name: Colchane
                        slug: colchane
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-cd15-4631-ba74-e2e4e3bb42f2
                        name: Huara
                        slug: huara
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-db14-4e9b-8ce1-520ad99dc30a
                        name: Iquique
                        slug: iquique
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-e5ea-4be8-9d67-6f43619d585e
                        name: Pica
                        slug: pica
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5303-f49e-4f5b-8e37-fb72e0c6e7d4
                        name: 'Pozo Almonte'
                        slug: pozoalmonte
                        region_id: 9c7c5302-bb4e-4d9c-86d6-82d9f988d5d0
                      -
                        id: 9c7c5304-01a4-4383-b538-cadb680c9779
                        name: Antofagasta
                        slug: antofagasta
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-0ef9-46ff-94ce-5fcff70f2ec6
                        name: Calama
                        slug: calama
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-17f5-4951-a1d4-6cac6cc9a367
                        name: 'María Elena'
                        slug: mariaelena
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-2292-4880-bc6e-c879c105d66d
                        name: Mejillones
                        slug: mejillones
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-38a6-4063-ae3c-9d96616afc71
                        name: Ollague
                        slug: ollague
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-45cb-4446-948d-eca12a33e117
                        name: 'San Pedro de Atacama'
                        slug: sanpedrodeatacama
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-5232-4e10-a835-2a4e9cb46d9e
                        name: 'Sierra Gorda'
                        slug: sierragorda
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-5aab-49f5-9897-687ea170c749
                        name: Taltal
                        slug: taltal
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-62d2-4762-becb-201735ab1337
                        name: Tocopilla
                        slug: tocopilla
                        region_id: 9c7c5302-cb1d-470f-b667-8acb71f2015f
                      -
                        id: 9c7c5304-6a39-4787-98a7-2f53671c16c3
                        name: 'Alto del Carmen'
                        slug: altodelcarmen
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-7341-42a2-bdde-f9f67998c133
                        name: Caldera
                        slug: caldera
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-7e65-4f7a-b5bc-07bb32de028d
                        name: Chañaral
                        slug: chanaral
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-84df-43fd-bea4-0f66d1629269
                        name: Copiapó
                        slug: copiapo
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-8d1c-416f-874e-cfc115868ce5
                        name: 'Diego de Almagro'
                        slug: diegodealmagro
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-9560-4de6-b32a-634733d39617
                        name: Freirina
                        slug: freirina
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-9ecc-4ae3-9179-d34ae4fbe3d6
                        name: Huasco
                        slug: huasco
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-aa75-4c59-a86e-2868adcfc595
                        name: 'Tierra Amarilla'
                        slug: tierraamarilla
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-b53b-4d96-ab29-b549006d20d7
                        name: Vallenar
                        slug: vallenar
                        region_id: 9c7c5302-d433-4a4f-9760-c195df7b04dd
                      -
                        id: 9c7c5304-be02-4634-badd-64edd1717427
                        name: Andacollo
                        slug: andacollo
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-c94f-42e6-b3f1-30f7815b5485
                        name: Canela
                        slug: canela
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-d648-4606-a21f-5440cb933d7e
                        name: Combarbalá
                        slug: combarbala
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-df94-49b0-ad79-f4edde153d93
                        name: Coquimbo
                        slug: coquimbo
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-e858-4de8-9cd7-5a4bb77c14bc
                        name: Illapel
                        slug: illapel
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-f1ab-4909-82c1-33ec8c11f544
                        name: 'La Higuera'
                        slug: lahiguera
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-f762-4fca-83ae-0ce5584a6e88
                        name: 'La Serena'
                        slug: laserena
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5304-fed7-4e0a-a846-91f565b095a6
                        name: 'Los Vilos'
                        slug: losvilos
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-052e-4ec1-9edc-e12709680862
                        name: 'Monte Patria'
                        slug: montepatria
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-0cde-4a3f-9950-a914be12e642
                        name: Ovalle
                        slug: ovalle
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-17c6-4abe-a3f6-78ea0927d740
                        name: Paihuaco
                        slug: paihuaco
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-1e9f-47fc-8a87-ff7dcd797e57
                        name: Punitaqui
                        slug: punitaqui
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-2629-4131-8897-c060770fe082
                        name: 'Río Hurtado'
                        slug: riohurtado
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-2b9d-433c-9476-66ad66c34801
                        name: Salamanca
                        slug: salamanca
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-3037-4089-9612-8a8a0a8734cb
                        name: Vicuña
                        slug: vicuna
                        region_id: 9c7c5302-dd3e-40d4-a38d-563e2c6087fe
                      -
                        id: 9c7c5305-3571-4dba-97fe-3694120f7d5a
                        name: Algarrobo
                        slug: algarrobo
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-3909-45d6-9b1d-047ce86e4c4f
                        name: Cabildo
                        slug: cabilo
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-3e4f-4d99-bbd3-c10d60c41d81
                        name: 'Calle Larga'
                        slug: callelarga
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-433a-409e-b307-fac704c66b9c
                        name: Cartagena
                        slug: cartagena
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-486d-413a-bc4e-1f4a5d1db98e
                        name: Casablanca
                        slug: casablanca
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-4dfa-48cd-a62c-1cec55be0595
                        name: Catemu
                        slug: catemu
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-542e-4882-bee9-8e72c1506c67
                        name: Concón
                        slug: concon
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-5ad4-4273-b71c-84cb126f1c84
                        name: 'El Quisco'
                        slug: elquisco
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-60a6-46a4-a603-cf0ca8111d56
                        name: 'El Tabo'
                        slug: eltabo
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-6746-4dab-90d0-6dfc8fab8bb2
                        name: Hijuelas
                        slug: hijuelas
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-6c03-4e58-adb1-2945a00e6586
                        name: 'Isla de Pascua'
                        slug: isladepascua
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-7284-4504-b3b0-37f32d293c75
                        name: 'Juan Fernández'
                        slug: juanfernandez
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-77de-4a8a-afbe-23aeff6706df
                        name: 'La Calera'
                        slug: lacalera
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-7f47-4ebf-9026-c0e0df121e16
                        name: 'La Cruz'
                        slug: lacruz
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-88a4-4917-af83-26b731e69218
                        name: 'La Ligua'
                        slug: laligua
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-92af-4fd7-a395-e2756ea9cd4a
                        name: Limache
                        slug: limache
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-9a5e-4cbf-8d9c-918290c9857d
                        name: Llaillay
                        slug: llaillay
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-a3f3-403a-9d64-3d60376672ba
                        name: 'Los Andes'
                        slug: losandes
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-afce-40ae-a589-4fd55c3097ee
                        name: Nogales
                        slug: nogales
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-ba88-473e-95f5-a4ca22e79b80
                        name: Olmué
                        slug: olmue
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-c5ec-4d8d-a407-afdd9fde192e
                        name: Panquehue
                        slug: panquehue
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-ce1f-4659-8a06-c249bb9d8ffd
                        name: Papudo
                        slug: papudo
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-d832-4e0d-9eb6-62d502cb6ced
                        name: Petorca
                        slug: petorca
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-e328-4e5a-9274-0c52bae632ad
                        name: Puchuncaví
                        slug: puchuncavi
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-ecba-4d6e-badd-558825c4843a
                        name: Putaendo
                        slug: putaendo
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-f6cd-4055-baaa-80d2f01a6f3e
                        name: Quillota
                        slug: quillota
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5305-ff5b-4a9f-8e5a-c9f9e3d584c7
                        name: Quilpué
                        slug: quilpue
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5306-0c39-47a0-972a-1a27b5d316b4
                        name: Quintero
                        slug: quintero
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5306-15ab-44e6-80b7-e8915a9f694b
                        name: Rinconada
                        slug: rinconada
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
                        id: 9c7c5306-1f62-46fe-9194-7ae63dd1255b
                        name: 'San Antonio'
                        slug: sanantonio
                        region_id: 9c7c5302-e5bd-41cd-8049-21e100e9484e
                      -
[...]
